<h1>Welcome to your Bamboo Bank Account <%= @user.name %></h1>

<h2>Your current balance is ൫<%= @user.balance %></h2>

<h2>Transactions</h2>

<button><%= link_to "Send Money", new_transaction_path %></button>

<h3>Sent</h3>
<% if @user.sent_transactions.any? %>
<ul>
    <% @user.sent_transactions.each do |transaction| %>
        <li>
            ൫<%= transaction.amount %> sent to <%= User.find(transaction.payee_id).name %> on <%= transaction.created_at %>
        </li>
    <% end %>
</ul>
<% else %>
    <p>You have not sent any transactions.</p>
<% end %>

<h3>Received</h3>

<% if @user.received_transactions.any? %>
<ul>
    <% @user.received_transactions.each do |transaction| %>
        <li>
            ൫<%= transaction.amount %> sent to <%= User.find(transaction.payer_id).name %> on <%= transaction.created_at %>
        </li>
    <% end %>
</ul>
<% else %>
        <p>You have not received any transactions.</p>
<% end %>