<header>
    <h2><%= link_to "Bamboo Bank", root_path %></h2>
    <nav>
            <% if current_user %>
                <h3><%= link_to current_user.name, current_user %></h3>
                <%= link_to "Log Out", logout_path %>
            <% else %>
                <%= link_to "Register", register_path %>
                <%= link_to "Login", login_path %>
            <% end %>
    </nav>
</header>